<article>
    <div class="blog-post">
        <h2>Create New Post</h2>
        <div class="card-body">
            <form class="new-post-frm">
                <div class="input-spacing">
                    <label for="input-title">Title</label>
                    <input type="text" class="form-control" id="input-title" placeholder="Name of post">
                </div>
                <div class="input-spacing">
                    <label for="post-content">Content</label>
                    <textarea id="post-content" rows="3" name="post-content"></textarea>
                </div>
                <div class="input-spacing">
                    <button type="submit" class="submitBtn">Create</button>
                </div>
            </form>
        </div>
    </div>
</article>

<script src="/js/createPost.js"></script>