<article>
    <div class="blog-post">
        <h2>Login</h2>
        <div class="card-body">
            <form class="login-form">
                <div class="input-spacing">
                    <label for="input-username">Username</label>
                    <input type="text" class="form-control" id="input-username" />
                </div>
                <div class="input-spacing">
                    <label for="input-password">Password</label>
                    <input type="password" class="form-control" id="input-password" />
                </div>
                <div class="input-spacing">
                    <button type="submit" class="submit-button" id="login">Login</button>
                </div>
            </form>
            <a href="/signup">Sign up</a>
        </div>
    </div>
</article>

<script src="./js/login.js"